/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

body{
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'futura_ltbook', sans-serif;
}
* {
	margin: 0;
	padding: 0;
	font-family: 'futura_ltbook', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    /* text-transform: uppercase; */
    color: #484848;
    font-family: 'futura_ltbold', sans-serif;
}
h1{font-size: 70px; margin:0; line-height: 72px;}
h2 {font-size: 30px; margin: 0 0 20px;}
h3 {font-size: 20px; margin: 0 0 10px;}
img {width: 100%;}
a,button{outline: 0 !important;}
a:hover,a:focus{ text-decoration: none}
i {
	margin-right: 10px;
}
:root{
	--first_color: #F5811D;
	--second_color:#f1731a;
	--heading_color:#0e4d96;
	--heading_second_color:#0c59db;
}
.main_container{
    overflow-x: hidden;
}
/* =============================navbar css start here=================================== */

.fixed-top {
	top: -40px !important;
	transform: translateY(40px);
	transition: transform .3s;
}
.navbar_color{
	background-color: #fff;
    /* background-color: var(--heading_second_color); */
    box-shadow: -1px 6px 9px -6px rgba(0,0,0,0.82);
    -webkit-box-shadow: -1px 6px 9px -6px rgba(0,0,0,0.82);
    -moz-box-shadow: -1px 6px 9px -6px rgba(0,0,0,0.82);
    color: #333;

}
.navbar-expand-lg .navbar-nav li {
    padding-right: 2rem;
    letter-spacing: 1px;
    color: rgb(153, 139, 139) !important;
  
  } 
.navbar-collapse ul li a{
      color: #333 !important;
      font-weight: 600;
  }
 .navbar-collapse ul li a:hover{
    color: var(--second_color) !important;
    font-weight: 600;
}
.navbar-toggler-icon{
    color: #333 !important;
}
.navbar-dark .navbar-toggler {
    /* color: rgba(255,255,255,.55); */
    /* border-color: rgba(255,255,255,.1); */
    border-color: #333 !important;
    color: #333 !important;
}
/*=============================== quote button css here====================================== */
.btn_getquote{
    width: 100%;
    padding: 8px 25px;
    background: var(--heading_second_color) !important;
    color: #fff !important;
    outline: none;
    border: none;
}
.btn_quote_top{
    width: 100%;
    padding: 8px 30px !important;
    background: var(--second_color) !important;
    color: #fff !important;
    outline: none;
    border: none;
    font-size: .8rem !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
    border-radius: 0 !important;
    letter-spacing: 1px !important;
    box-shadow: 7px 10px 12px -1px rgba(0,0,0,0.43);
    -webkit-box-shadow: 7px 10px 12px -1px rgba(0,0,0,0.43);
    -moz-box-shadow: 7px 10px 12px -1px rgba(0,0,0,0.43);

    /* box-shadow: 0px 8px 44px -4px rgba(0,0,0,0.5);
-webkit-box-shadow: 0px 8px 44px -4px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 8px 44px -4px rgba(0,0,0,0.5); */

}
.navbar-collapse ul li .btn_quote_top:hover{
    font-weight: bold;
color: #fff !important;

}
/* .btn_quote_top a{
  font-size: 1rem !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
} */
.form-group{
    margin-top: 1.5rem !important;
}
input {
    border: 1px solid #ccc !important;
    border-radius: 5px;
    padding: 5px;
    outline: none !important;
    height: 25px;
    width: 150px;
  }
  
  input:focus {
    border-color:var(--heading_second_color) !important;
 
  }
  .modal-header .close {
    padding: 1rem 1rem;
    margin: 0 !important;
    background-color: var(--heading_second_color) !important;
    color: white !important;
    opacity: 1 !important;
}
.close:hover {
    color: #000;
    text-decoration: none;
}

/* top nav call css */
.circle_icon2 i{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--second_color);
    text-align: center;
    line-height: 32px;
    color: #fff;
    font-size:12px;
    margin-right: .5rem;
    box-shadow: 7px 10px 12px -1px rgba(0,0,0,0.43);
    -webkit-box-shadow: 7px 10px 12px -1px rgba(0,0,0,0.43);
    -moz-box-shadow: 7px 10px 12px -1px rgba(0,0,0,0.43);
  }
/*========================================= top header carousel start here========================= */
/* Carousel */
/* .home .carousel {
    position: relative;
    height: 650px;
    display: inline-block;
}
.home .carousel .item img{
    width:100%;
    height: 800px;
}

.carousel .overlay {
	background:rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
}
.carousel-caption {
    left: 7%;
    right: 7%;
    top: 70px;
}
.carousel-caption h1 {
    color: #fff;
    margin-bottom:20px;
}
.carousel-caption h1.second_heading {
    color:var(--second_color);
    margin-bottom:35px;
}
.carousel-caption > h3 {
    color: #fff;
    font-family: "futura_ltbook",sans-serif;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: inherit;
}
.carousel-caption > p {
    font-size: 23px;
    line-height: 28px;
}
.btn.know_btn {
    background: var(--first_color) none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    font-family: "futura_ltbold",sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    border:1px solid transparent;
	margin-bottom: 2rem !important;
}
.carousel-caption .btn.know_btn {
    margin-top: 64px;
	
}
.carousel-caption .btn.know_btn:last-child {
    margin-left: 20px;
}
.btn.know_btn:hover,
.btn.know_btn:focus {
    background: transparent;
	color:#fff;
    border:1px solid var(--first_color);
}

.carousel-control{
    width:50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top:-25px;
    top:50%;
}
*/

  /* ========================home services package section start here============== */
.home_services_section{
	position: relative;
	/* margin-top: 3rem; */
	/* background:rgba(255,69,0, .1); */
    /* background: rgba(0,0,255,.6); */
    background: rgba(12,89,219,.2);
}
.home_services_section h2{
	position: relative;
	text-align: center;
	padding: 2rem 0;

}
.line2{
	position: absolute;
	top: 11%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--second_color);
	width: 10%;
	border: 1px solid var(--second_color);
}
.all_services_box{
width: 100%;
/* height: 20rem; */
height: auto;
margin-bottom: 2rem;

}
.top_bg_services{
	background: var(--heading_second_color);
	width: 100%;
	height: 3rem;
}
.top_bg_services p{
	text-align: center;
	font-weight: 700;
	padding-top: .7rem;
	color: #fff;
	
	letter-spacing: 1.5px; 
}
.my_package p{
	text-align: center;
	padding: 0 1rem;
padding-top: 5rem;
}
/* accordion css here */
.main {
	margin: 0px 0;
	width: 100%;
  }
  
  .main #faq .card {
	margin-bottom: 5px;
	border: 0;
  }
  
  .main #faq .card .card-header {
	border: 0;
	-webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
			box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
	border-radius: 2px;
	padding: 0;
  }
  
  .main #faq .card .card-header .btn-header-link {
	color: #fff;
	display: block;
	text-align: left;
	/* background: #FFE472; */
	background: none;
	color: #222;
	padding:10px 20px;
	outline: none !important;
	
  }
  
  .main #faq .card .card-header .btn-header-link:after {
	content: "\f107";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	float: right;
	outline: none !important;
  }
  
  .main #faq .card .card-header .btn-header-link.collapsed {
	/* background: #A541BB; */
	/* background: #fff; */
	color: #333;
	background: none;
	width: 100%;
	margin: .5rem 0;
	outline: none !important;
	
  }
  
  .main #faq .card .card-header .btn-header-link.collapsed:after {
	content: "\f106";
  }
  
  .main #faq .card .collapsing {
	/* background: #FFE472; */
	line-height: 10px;
	background: none;
	outline: none !important;
  }
  
  .main #faq .card .collapse {
	border: 0;
  }
  
  .main #faq .card .collapse.show {
	background: none;
	line-height: 25px;
	color: #222;
	outline: none !important;
  }

.line1{
	margin: 0 !important;
}
.card-body p{
	text-align: justify;
	padding: .5rem 0 0 0;
	font-weight:500;
	text-transform: capitalize;
}
.card-header a{
	font-weight: 700;
	outline: none !important;
}
/*  */
.btn-header-link .collapsed .btn{
	outline: none !important;
	background: none !important;
}




/* Why us */
/*Head Title*/
.head_title h2{
	text-align: center !important;
}
.head_title p{
    line-height: 2.3rem;
}
#why_us {
    background: #f2f7fa none repeat scroll 0 0;
    padding-bottom: 50px;
    line-height: 18px;
	/* background: skyblue; */
}
#why_us h2 {
    margin: 70px 0 20px;
}
.why_us_item{ padding-top: 55px;}
#why_us .fa{
    border-radius: 100%;
    /* box-shadow: 0 0 0 10px #ffcb0f, 0 0 0 20px #fadb64, 0 0 0 30px #f7e59c; */
	box-shadow: 0 0 0 10px skyblue, 0 0 0 20px var(--heading_second_color), 0 0 0 30px var(--heading_color);
    padding: 38px;
    font-size:45px;
}
.why_us_item > h4 {
    font-size: 15px;
    margin: 60px 0 20px;
}



/*============================= slider css here======================= */
.slider{
	position: relative;
	width: 100%;
	background: #2c3e50;
     /* darckblue */
     
}
.myslide{
 
	height: 655px;
	display: none;
	overflow: hidden;
    background-color: rgba(0,0,0,.3) !important;
   
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	/* border-color: #00a7ff;  */
    border-color: var(--heading_second_color); 
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 1px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
    width: 60%;
    background: rgba(0,0,0,.5);
    width: auto;
    border-radius: 8px;
    padding: 1rem;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h3{
	color: var(--first_color); 
	font-size: 50px;
	margin-bottom: 20px;
}
.txt h1{
	/* color: var(--heading_second_color); */
    color: var(--first_color); 
    /* color: var(--heading_second_color); */
	font-size: 35px;
	margin-bottom: 10px;
    
}
.txt h2{
	/* color: var(--heading_second_color); */
    color: #fff; /* blue */
	font-size: 25px;
	margin-bottom: 10px;
}
.txt p{
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */
.myslider_img{
    position: relative;
    z-index: 0;
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
      background:rgba(0,0,0,.5) !important;
      background-image:linear-gradient(to top, rgba(0,0,0,.1)0%, rgba(0,0,0,.1)100%) !important;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */



/* 5 */
@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}

}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
}



/* ===============================second slider css========================================== */
.second_slider{
    background: rgba(12,89,219,.2); 
    
    padding-bottom: 2rem; 
}
.second_slider h2{
    padding: 2rem 0 0 0;
}
.box {
    width: 100%;
    border-radius: 1px;
    overflow: hidden;
    margin: 2rem 0 0rem 0;
    /* height: auto; */

}

.slide-img {
    position: relative;
    height: 210px;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: var(--quicksand);
   
}
.detail-box:hover {
 
    background: var(--heading_second_color);
    color: #fff !important;
}
.detail-box > .type a:hover {
    color: #fff !important;
}
.type {
    display: flex;
    flex-direction: column;

}
.type a {
    color: #333;
    font-weight: 701;
    letter-spacing: .5px;
    padding-right: 8px;
    text-align: center;
    padding: 10px 0 0 0;
    text-decoration: none;
}

.type a:hover {
    color:#fff;

}

.second_slider {
    position: relative;
    margin: 1rem 0 1rem 0;
}
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* our projects section here  */
.our_recent_work h2{
    text-align: center;
   height: auto;
   width: 100%;
   font-size: 2rem;
   padding: 1rem 0;
}
.our_recent_work p{
    text-align: center;
}
.main{
    margin-top: 0rem;
    position: relative;
    height: 100%;
    width: 100%;
  }
  /* .main h1{
   text-align: center;
   height: auto;
   width: 100%;
   font-size: 2rem;
   padding: 1rem 0;
  }
  .main p{
    text-align: center;
   
   } */
   .main .gallery{
     position: relative;
     height: auto;
     width: 90%;
     margin: auto;
     padding: 45px 0;
     display: grid;
      grid-template-columns: auto auto auto auto; /* i write here auto 4 times bcz we want 4 row so */
      grid-gap: 2vh;
      grid-auto-flow: dense;
   }
   .main .gallery .img{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .main .gallery .img:first-child{
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .main .gallery .img:nth-child(2n+3){
    
    grid-row-start: span 2;
  }
  .main .gallery .img:nth-child(4n+5){
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .main .gallery .img:nth-child(6n+7){
    
    grid-row-start: span 1;
  }
  .main .gallery .img:nth-child(8n+9){
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .main .gallery .img img{
   height: 100%;
   width: 100%;
   object-fit: cover;
  }
  @media only screen and (max-width:768px){
    .main .gallery {
      display: grid;
      grid-template-columns: auto auto auto; /* i write here auto 4 times bcz we want 4 row so */
      grid-gap: 2vh;
      grid-auto-flow: dense;
  
    }
  }
  @media only screen and (max-width:430px){
    .main .gallery {
   display: block;
  
    }
    .main .gallery .img{
      display: block;
      width: 100%;
      height: 100%;
  
    }
    .main .gallery .img img{
      display: block;
    
    }
  }




  .img {
    position: relative;
    padding: 0;
    /* width: 300px; */
    width:100%;
    height: auto;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }
  
  .content {
    opacity: 0;
    font-size: 40px;
    position: absolute;
    top: 0%;
    left: 0%;
    /* color: #1c87c9; */
    color: #fff;
    /* background-color: rgba(200, 200, 200, 0.5); */
    background: var(--heading_color);
    /* width: 300px; */
    /* height: 300px; */
    height: 100%;
    width: 100%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
  }
  
  .img .content:hover {
    opacity: 1;
  }
  
  .img .content .text {
      text-align: center;
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  .img .content .text h5{
    text-align: center;
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
}
  .img .content:hover .text h5{
    /* text-align: center; */
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    /* transform: translateY(150px);
    -webkit-transform: translateY(150px); */
  }


/*================================================= about us amin page start here========================== */
.about_banner{
    /* background-image: url("../images/architect-3979490_1920.jpg"); */
    background-image:linear-gradient(180deg, rgba(34, 37, 51, 0.5)0%, rgba(34, 37, 51, 0.5)100%), url('../images/architect-3979490_1920.jpg') !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.my_aboutus {
   padding: 15rem 0;
}
.my_aboutus h1{
  
    text-align: center;
    color: var(--second_color);
    font-size: 3.5rem;
    font-weight: bold;
}
.my_aboutus p{
 
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    
  
}
.after_banner_about{
    margin: 0;
    padding: 1rem 0;
    /* background: rgba(12,89,219,.2);  */
}
.who_weare_about{
  background: rgba(12,89,219,.2); 
}
.who_weare_about h2{
text-align: center;
padding: 3rem 0;
}
.who_weare_about p{
   line-height: 2;
    }
    @media screen and (max-width:800px) {
        .my_aboutus {
           padding: 8rem 0;
        }
        .my_aboutus h1{
          
            text-align: center;
            color: var(--second_color);
            font-size: 2.5rem;
            font-weight: bold;
        }
        .my_aboutus p{
         
            text-align: center;
            color: #fff;
            font-size: 1.2rem;
            padding: 0 .5rem;
            
          
        } 
    }
/*================================================= about us amin page end here========================== */


/* =======================================contact page start css here=============================
============================================================================================= */
.contact_banner_img{

    background-image:linear-gradient(180deg, rgba(34, 37, 51, 0.7)0%, rgba(34, 37, 51, 0.7)100%), url("../images/student-849825_1280.jpg");
    /* background-image:linear-gradient(180deg, rgba(34, 37, 51, 0.4)0%, rgba(34, 37, 51, 0.4)100%), url('../images/2761902.jpg') !important; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
}
.contact_banner{
    padding: 15rem 0;  
}
.contact_banner h1{
 
    text-align: center;
    color: var(--second_color);
    font-size: 3.5rem;
    font-weight: bold;
}

.contact_banner p{
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}
.form_and_map{
    margin: 2rem 0;
}
.form_fields{
    border: 1px solid silver;
    padding: .5rem 1rem;
}
.map iframe{
    width: 100%;
    height: 82vh;
}
.contact_basic_details{
    position: relative;
    margin-top: 2rem;
}
.contact_basic_details h2{
    text-align: center;
    padding: 0rem 0;
}
/* .all_in_center{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* .phone_circle{
    background: var(--heading_second_color);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: block;
    line-height: 32px;
    padding: 1.8rem;
} */
/* .phone_circle i{
color: #fff;
font-size: 1.5rem;
} */
/* .my_center_icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}
.first_phone{
  margin-bottom: 1rem;
}
.my_center_icons a{
    padding-bottom: 2.5rem;
    text-decoration: none;
} */



 /*==================== my contact page css start here ================*/
 
  .contact_us{
    margin-top: 8rem;
  }
  .main_four{
    margin-top: 2rem;
  }
 .box_1{
   position: relative;
   width: 100%;
   height: 22rem;
   text-align: center;
 }
 .circle_icon{
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%,-50%);
   height: 80px;
         width: 80px;
   /* display: block; */
   border-radius: 50%;
   background: #0c59db;
   text-align: center;
   line-height: 80px;
   color: #fff;
   font-size: 25px;
 
 }
 .circle_icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  
  }
 .box_1 .title{
   font-size: 24px;
   padding-top:10rem;
 }
 .box_1 p{
   font-size: 18px;
   padding:1rem .2rem 0 .2rem;
 
 }
 .box_1 a{
   color: #333;
 
 }
 .cd_site{
   font-weight: bold;
 }

.main_logo{
    width: 5rem;
    height: 4rem;
  
}

@media screen and (max-width:800px) {
 
    .contact_banner{
        padding: 10rem 0;  
    }
    .contact_banner h1{
        text-align: center;
        font-size: 2rem;
        padding: 0 .5rem;
    }
    .contact_banner p{
        font-size: 1.2rem;
        padding: 0 .5rem;
    }
}


/* =======================================contact page end css here=============================
============================================================================================= */











/* Footer */
footer {
    /* background: url(../images/footer_bg.jpg)no-repeat; */
/* background-image: url('../images/home2.jpg'); */
background-image:linear-gradient(rgba(34, 37, 51, 0.9), rgba(34, 37, 51, 0.9)), url('../images/home2.jpg');
background-repeat: no-repeat;
    background-size:cover;
    position:relative;
    padding-top:90px;
    /* background: rgba(34, 37, 51, 0.9) none repeat scroll 0 0; */
}
/* footer::before {
    background: rgba(255, 255, 255, 0.33) none repeat scroll 0 0;
    content: "";
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
} */
footer::after {
    /* background: rgba(34, 37, 51, 0.9) none repeat scroll 0 0; */
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.footer_top,.footer_bottom{ position:relative; z-index:1; color:#fff;}
.footer_item {
    margin-top: 75px;
}
.footer_item > h4 {
    color: #fff;
    font-family: "futura_ltbook",sans-serif;
    font-size: 25px;
    margin-bottom: 34px;
    text-transform: inherit;
}
.footer_item .list-unstyled > li a{
    color: #fff;
}
/* Footer About */
.footer_item .logo {
    margin-bottom: 15px;
    width: 200px;
}
.list-inline.footer_social_icon {
    margin: 32px 0rem 0 0rem;
	display: flex;
}
.footer_social_icon .fa {
    background: var(--second_color) none repeat scroll 0 0;
    border-radius: 100%;
    color: #222;
    font-size: 20px;
    height: 45px;
    padding: 12px;
    text-align: center;
    width: 45px;
	margin-right: 1rem;
    margin-bottom: 2rem;
}
.footer_item .footer_social_icon .fa:hover,.footer_item .footer_social_icon .fa:focus {
    background: #d7a300 none repeat scroll 0 0;
}
/* Footer Explore */
.footer_menu .fa {
    font-size: 10px;
    margin-right: 18px;
}
.list-unstyled.footer_menu > li {
    padding: 4px 0;
}
/* .list-unstyled.footer_menu >  li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

    
} */
/* Footer Post */
.list-unstyled.post,.list-unstyled.footer_contact {
    margin-top: -14px;
}
.post .date {
    border: 2px solid #fff;
    border-radius: 100%;
    display: block;
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 12px;
    margin-right: 15px;
    padding: 10px;
    text-align: center;
    width: 50px;
}
.footer_item li a:hover .date,.footer_item li a:focus .date{ border:2px solid #aaa; }
.footer_item li a:hover,.footer_item li a:focus{
    color: #aaa;
}
.post .date small {
    font-size: 12px;
}

.list-unstyled.post > li,.list-unstyled.footer_contact > li {
    padding: 14px 0;
    overflow:hidden;
}
/* Footer Contact */
.footer_contact .fa {
    margin-right: 20px;
    text-align: center;
    width: 15px;
    float: left;
    font-size:18px;
}
.list-unstyled.footer_contact p {
    overflow: hidden;
}
.footer_bottom {
    background: #1a1c27 none repeat scroll 0 0;
    padding: 28px 0 18px;
    margin-top:55px;
}
.footer_bottom a {
    color: var(--second_color);
}
.footer_bottom a:hover,.footer_bottom a:focus {
    color: var(--second_color);
}

.footer_logo{
    width: 4rem;
    height: 3.5rem;
    margin-bottom: 1rem;
}

.wave{
    position: absolute;
    top: 0;
}

.custom-shape-divider-top-1626846252 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1626846252 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 127px;
}

.custom-shape-divider-top-1626846252 .shape-fill {
    fill: #FFFFFF;
}

/* till shap css */
/* .custom-shape-divider-top-1626846370 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1626846370 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.custom-shape-divider-top-1626846370 .shape-fill {
    fill: #FFFFFF;
} */









@media (max-width: 767px) {
    h1 {
        font-size: 32px;
        line-height: 35px;
    }
    nav.navbar.bootsnav .navbar-toggle {
        margin-left: 15px;
    }
    .carousel-caption {
        top: 20px;
    }
    .carousel-inner > .item > a > img, .carousel-inner > .item > img {
        height: 450px;
    }
    .carousel-caption > h3 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .carousel-caption > p {
        font-size: 18px;
        line-height: 22px;
    }
    .carousel-caption .btn.know_btn {
        margin-top: 35px;
    }
    .carousel-caption .btn.know_btn:last-child {
        margin-left: 30px;
    }
	.home .carousel {
		position: relative;
		height: 550px;
		display: inline-block;
	}
	.home .carousel .item img{
		width:100%;
		height: 500px;
	}
}
@media (max-width: 479px) {
    h1 {
        font-size: 30px;
        line-height: 32px;
    }
    h3 {
        font-size: 17px;
    }
    .carousel-inner > .item > a > img, .carousel-inner > .item > img {
        height: 420px;
    }
    .carousel-caption {
        top: 5px;
    }
    .carousel-caption h1.second_heading {
        margin-bottom: 10px;
    }
    .carousel-caption > h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .carousel-caption > p {
        font-size: 16px;
        line-height: 20px;
    }
    .btn.know_btn {
        font-size: 14px;
        padding: 8px 14px;
    }
    .carousel-caption .btn.know_btn {
        margin-top: 10px;
    }
    .carousel-caption .btn.know_btn:last-child {
        margin-left: 10px;
    }
}
@media screen and (max-width:800px) {
	  /* ========================home services package section start here============== */
.home_services_section{
	margin-top: 0rem;
}
}
